{% extends 'base.html.twig' %}

{% block title %}The French Boutique - My Account
{% endblock %}

{% block content %}
	<h1>Welcome to your account, {{ app.user.firstname }}</h1>
    <hr>
    - <a href="{{ path('account_password') }}">Change password</a> <br>
    - <a href="{{ path('account_address') }}">Manage addresses</a><br>
    - My orders<br>
    <hr>
{% endblock %}
