{% extends 'base.html.twig' %}

{% block title %}The French Boutique - Change password
{% endblock %}

{% block content %}
	<h1>Change password</h1>
	<a href="{{ path('account') }}">Back to My account</a>
	<hr>
	{% if notification %}
		<div class="alert alert-info">{{ notification }}</div>
	{% endif %}
	{{ form(form) }}
		<hr>
	{% endblock %}
