{% extends 'base.html.twig' %}

{% block title %}Our Products - The French Boutique
{% endblock %}

{% block content %}

	<div class="row">

		<div class="col-md-3">
					<h2>Filter</h2>
					{{ form(form) }}
		</div>

		<div class="col-md-9">
			<h2>Our Products</h2>

			<div class="row product-container">
				{% for product in products %}
					<div class="col-md-4">
						{% include "products/single_product.html.twig" %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>


{% endblock %}
