{% extends 'base.html.twig' %}

{% block title %}Contact us - The French Boutique
{% endblock %}

{% block content %}
	<h2>Send us a message</h2>
	<p>Our team would be pleased to answer all of your questions.</p>
	{% for message in app.flashes('notice') %}
		<div class="alert alert-info">{{ message }}</div>
	{% endfor %}

	<div class="row">
		<div class="col-md-8">
			{{ form(form) }}
			</div>
			<div class="col-md-4">
				<strong>The French Boutique</strong>
				<hr>
				06 06 06 06 06
				<br>
				Champ de Mars, 5 Avenue Anatole France, 75007 Paris
				<br>
				contact@thefrenchboutique.com
				<br>
			</div>
		</div>

	{% endblock %}
